<div class="container">
  <div class="row mt-5">
    <div class=col>
    <h1  class="text-center">WELCOME tabizuki✈</h1>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
    <p>tabizukiは行きたいところを都道府県ごとにまとめておけるサイトです。<br>
    会員登録をすると行きたい旅先を投稿・いいね・コメントをすることができます。</p>
    </div>
  </div>
</div>
