<div class="container">
  <div class="row mt-5">
    <div class=col>
    <h1  class="text-center">WELCOME tabizuki✈</h1>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
    <p>tabizukiは行きたい場所を都道府県ごとにまとめておけるサイトです。<br>
    会員登録をすると行きたい場所を投稿をすることができます。<br>
    また、コメントやいいねをすることでいろんな方々と繋がることができます</p>
    </div>
  </div>
</div>
