<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <h2><%= @user.name %>さんを本当に退会させますか？</h2>
      <p class="mt-3">退会させるボタンをクリックすると<%= @user.name %>さんの情報は全て削除されます。</p>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col">
      <%= link_to "会員一覧に戻る",admin_users_path, class: "btn btn-outline-dark" %>&emsp;
      <%= link_to "退会させる",withdrawal_admin_user_path(@user),method: :patch, class: "btn btn-outline-danger" %>
    </div>
  </div>
</div>